@font-face {
  font-family: 'robotolight';
  src: url('Font/roboto-light-webfont.woff2') format('woff2'),
      url('Font/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'avenir';
  src: url('Font/avenir_roman_12-webfont.woff') format('woff2'),
      url('Font/avenir_roman_12-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


body{
  font-family: 'avenir';
}

p{
  margin:0px;
  padding: 0px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
  margin: 20px 0px;
}

.header__body {

  display: grid;
  grid-template-columns: 77% auto;
  align-items: center;
}

.header_body_search {
  display: grid;
  grid-template-columns: 8% auto;
  align-items: center;
}

.search_head {
  display: flex;
  justify-content: space-between;

  margin: 0px 33px;
  border-bottom: 2px solid #353538;
}

.search_head__title {
  font-family: "Avenir";
  font-size: 20px;
  font-weight: 800;
  /* color: #353538; */
  border: none;
  outline: none;
  width: 70%;

}

.search_head__end {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-bottom: 10px;
  align-items: center;
  color: gray;
  font-size: 13px;
}
.search_head__end span{
  font-family: "Avenir";
  font-weight: 800;
}

.select_g {
  border-top: none;
  border-width: none;
  border-left: none;
  font-size: 19px;
  font-family: "Avenir";
  font-weight: 400;
  padding-left:2%;
  color: #595959;
  border-bottom: 1px solid #7f7f81;
  background: white;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block{
	display: none;
}

.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fffdba;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}

.wrapper {
  width: 400px;
  background: #fff;
  padding: 20px 25px 40px;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 10px;
}

.price-input .field {
  display: flex;
  width: 40%;
  height: 45px;
}
.price-input .field2 {
    display: flex;
    width: 100%;
    height: 45px;
  }



.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  border: none;
  -moz-appearance: textfield;
}


.field2 input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    border: none;
    margin-left: 180px;
    -moz-appearance: textfield;
  }


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: 2px solid ;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fffdba;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}
   

::selection {
  color: #fff;
  background: #17a2b8;
}
.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}
.b-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.b-btn.paypal i {
  color: blue;
}
.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}
.b-btn i {
  font-size: 20px;
  color: yellow;
  margin-top: 2rem;
}
